$header-size: 35px;

.game-gui-container {
	pointer-events: none;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: fit-content(100%) auto fit-content(100%);
	align-items: center;
	justify-content: space-between;
	height: 100%;

	& > header {
		pointer-events: auto;

		min-height: $header-size;
		padding: 0px 5px;
		background-color: rgba(0, 0, 0, 0.25);
		transition: background-color 0.3s linear;
		//box-shadow: 0px 0px 5px #0008;

		display: grid;
		grid-template-areas: 'switch_btn game_buttons modes actions';
		grid-template-columns: fit-content(100%) auto fit-content(100%) fit-content(100%);
		grid-column-gap: 10px;
		align-items: center;
		justify-content: stretch;

		.game-buttons {
			grid-area: game_buttons;
			text-align: left;
			justify-self: left;
		}

		.actions {
			grid-area: actions;
			text-align: right;
		}

		.game-buttons, .actions, .modes {
			transition: opacity 0.3s linear, transform 0.3s ease-in-out;
		}

		@for $i from 1 through 4 {
			& > *:nth-child(#{$i}) {
				//transition: opacity 0.3s linear, transform 0.3s 10s ease-in-out !important;
				transition-delay: #{($i - 2)*100}ms !important;
			}
		}

		.game-buttons > *, .actions > * {
			margin: 5px 5px;
		}

		.modes {
			grid-area: modes;
			background-color: #004D4080;
			border-radius: 5px;
			justify-self: center;

			& > * {
				margin: 5px;
			}
			
			& > button:disabled {
				background-color: #8BC34A;
				font-weight: bold;
				color: #fff;
				cursor: auto;
			}
		}

		&.hidden {
			background-color: rgba(0, 0, 0, 0);
			//box-shadow: 0px 0px 5px #0000;
			.game-buttons, .actions, .modes {
				opacity: 0;
				transform: translateY(-100%);
				button {
					cursor: auto;
				}
			}
		}

		.menu-btn {
			margin-top: 5px;
			align-self: flex-start;
		}

		&:not(.hidden) .menu-btn {
			background-image: url('./../img/close.svg');
		}

		.exit-btn {
			width: 150px;
		}
	}

	&.view-open .gui-center {
		pointer-events: auto;
	}

	.gui-center {
		height: 100%;
		width: auto;

		display: grid;
		align-items: center;
		justify-content: center;

		/*&.event_cacher {
			background-color: #0004;
		}*/

		.view-container {
			margin: auto;
			background-color: #fff;
			margin-top: 20px;
			border-radius: 5px;
			box-shadow: 0px 1px 8px #0008;
			overflow: hidden;

			header {
				padding: 0px 10px;
				height: 35px;
				line-height: 35px;
				color: #fff;
				background-color: #455a64;

				.close-btn {
					margin: 5px 0px;
					margin-left: 10px;
					float: right;
				}
			}

			article {//main content
				color: #455a64;
				padding: 5px 5px;
			}
		}
	}

	.edit-tools {
		pointer-events: auto;

		background-color: #0004;

		max-height: 100px;
		width: 100%;
		display: grid;
		grid-template-areas: 'main tools';
		grid-template-columns: auto min-content;
		align-items: center;
		justify-content: stretch;

		.main {
			grid-area: main;
			height: 100%;
			//width: 50%;
			overflow-x: auto;
			display: table-cell;

			.assets_container, .edit_options {
				width: 100%;
				height: 100%;
			}

			.assets_container {
				overflow-x: auto;
				overflow-y: hidden;

				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;

				& > .asset_preview {
					padding: 5px;
					margin: 0px 5px;
					box-sizing: content-box;
					
					border-radius: 5px;
					background-color: #0008;
					box-shadow: 0px 0px 5px #0008;

					display: grid;
					align-items: center;
					justify-content: center;

					cursor: pointer;

					position: relative;
					overflow: hidden;

					&:not(.selected):hover button {
						//background-color: #ef535080;
						opacity: 0.5;

						&:hover {
							opacity: 1 !important;
						}
					}

					& > button {
						position: absolute;
						left: 0px;
						//top: 0px;
						width: 100%;
						height: 50%;
						box-shadow: none;
						border: none;
						border-radius: 0px;
						font-weight: bold;
						font-size: 11px;
						padding: 0px;

						transition: opacity 0.15s linear;

						&:nth-child(2) {
							top: 0px;
						}
						&:last-child {
							bottom: 0px;
						}

						opacity: 0;

						
					}

					&.selected {
						background-color: #ef5350;

						&:hover {
							background-color: #e57373;
						}
					}
					/*& > * {
						cursor: pointer;
					}*/
				}
			}

			.edit_options {
				display: grid;
				grid-template-columns: fit-content(100%) auto;
				align-items: center;
				justify-content: stretch;

				.transform-options {
					background-color: #0008;
					padding: 0px 5px;
					height: 100%;

					display: grid;
					align-items: center;
					grid-template-columns: auto auto auto;
					grid-template-rows: fit-content(100%) auto fit-content(100%) auto;
					grid-auto-flow: column;
					grid-column-gap: 10px;

					label {
						font-size: 12px;
						font-weight: bold;
						text-align: left;
					}

					input {
						width: 100px;
					}
				}

				.object-options {
					align-self: left;
				}
			}
		}

		.tools {
			padding: 5px 0px;
			& > * {
				white-space: nowrap;
				margin: 5px;
			}

			& > * > button {
				margin: 0px 2px;
			}
		}

		transition: transform 0.5s cubic-bezier(.36,.07,.19,.97);
	}

	&:not(.mode-1) .edit-tools {//only in edit mode
		transform: translateY(100%);
	}

	&:not(.mode-0) .restart-btn {
		display: none;
	}

	//cienie switch

	.switch-input {
		display: none;
	}
	.switch-label {
		position: relative;
		display: inline-block;
		min-width: 112px;
		cursor: pointer;
		font-weight: 500;
		text-align: left;
		margin: 16px;
		padding: 16px 0 16px 44px;
	}
	.switch-label:before,
	.switch-label:after {
		content: "";
		position: absolute;
		margin: 0;
		outline: 0;
		top: 50%;
		transform: translate(0, -50%);
		transition: all 0.3s ease;
	}
	.switch-label:before {
		left: 1px;
		width: 34px;
		height: 14px;
		background-color: #9e9e9e;
		border-radius: 8px;
	}
	.switch-label:after {
		left: 0;
		width: 20px;
		height: 20px;
		background-color: #fafafa;
		border-radius: 50%;
		box-shadow: 0 5px 3px -2px rgba(0, 0, 0, 0.14),
		0 4px 4px 0 rgba(0, 0, 0, 0.098), 0 3px 7px 0 rgba(0, 0, 0, 0.084);
	}
	.switch-label .toggle--on {
		display: none;
	}
	.switch-label .toggle--off {
		display: inline-block;
	}
	.switch-input:checked + .switch-label:before {
		background-color: #a5d6a7;
	}
	.switch-input:checked + .switch-label:after {
		background-color: #4caf50;
		transform: translate(80%, -50%);
	}
	.switch-input:checked + .switch-label .toggle--on {
		display: inline-block;
	}
	.switch-input:checked + .switch-label .toggle--off {
		display: none;
	}
}