$header-size: 35px;

.game-gui-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: fit-content(100%) auto;
	align-items: center;
	justify-content: space-between;
	height: 100%;

	& > header {
		min-height: $header-size;
		padding: 0px 5px;
		background-color: #0004;
		transition: background-color 0.3s linear;
		//box-shadow: 0px 0px 5px #0008;

		display: grid;
		grid-template-areas: 'switch_btn game_buttons modes actions';
		grid-template-columns: $header-size fit-content(100%) auto fit-content(100%);
		align-items: center;
		justify-content: space-between;

		.game-buttons {
			grid-area: game_buttons;
			text-align: left;
			justify-self: left;
		}

		.actions {
			grid-area: actions;
			text-align: right;
		}

		.game-buttons, .actions, .modes {
			transition: opacity 0.3s linear, transform 0.3s ease-in-out;
		}

		@for $i from 1 through 4 {
			& > *:nth-child(#{$i}) {
				//transition: opacity 0.3s linear, transform 0.3s 10s ease-in-out !important;
				transition-delay: #{($i - 2)*100}ms !important;
			}
		}

		.game-buttons > *, .actions > * {
			margin: 5px 5px;
		}

		.modes {
			grid-area: modes;
			background-color: #80CBC480;
			border-radius: 5px;

			& > * {
				margin: 5px;
			}
			
			& > button:disabled {
				background-color: #8BC34A;
				font-weight: bold;
				color: #fff;
				cursor: auto;
			}
		}

		&.hidden {
			background-color: #0000;
			//box-shadow: 0px 0px 5px #0000;
			.game-buttons, .actions, .modes {
				opacity: 0;
				transform: translateY(-100%);
				button {
					cursor: auto;
				}
			}
		}

		.menu-btn {
			margin-top: 5px;
			align-self: flex-start;
		}

		&:not(.hidden) .menu-btn {
			background-image: url('./../img/close.svg');
		}
	}

	.gui-center {
		height: 100%;
		width: auto;

		display: grid;
		align-items: center;
		justify-content: center;
	}

	.view-container {
		margin: auto;
		background-color: #fff;
		margin-top: 20px;
		border-radius: 5px;
		box-shadow: 0px 1px 8px #0008;
		overflow: hidden;

		header {
			padding: 0px 10px;
			height: 35px;
			line-height: 35px;
			color: #fff;
			background-color: #455a64;

			.close-btn {
				margin: 5px 0px;
				margin-left: 10px;
				float: right;
			}
		}

		article {//main content
			color: #455a64;
			padding: 5px 5px;
		}
	}
}