.menu-container {
<<<<<<< HEAD
	padding: 10px 0px;
<<<<<<< HEAD
=======

	.avaible_maps_list {
		margin: 5px 0px;
		// width: min-content;
		display: inline-grid;
		grid-template-rows: auto;
		align-items: center;
		justify-content: center;

		& > * {
			padding: 0px 0px;
			min-width: 200px;
			// height: 20px;
			line-height: 20px;
			display: inline-table;
			cursor: pointer;
			position: relative;
			&::before {
				content: "";
				display: block;
				position: absolute;
				left: 0px;
				right: 0px;
				width: 100%;
				height: 100%;
				background: linear-gradient(90deg, #fff0 0%, #B0BEC580 50%, #fff0 100%);
				z-index: 4;
				opacity: 0;
				transform: scaleX(0);
				transition: opacity 0.3s ease-in-out, transform 0.5s cubic-bezier(.87, .5,.19,1.44);
			}
			&:hover::before {
				opacity: 1;
				transform: scaleX(1);
			}
			&:not(:last-child)::after {
				//border-bottom: 1px solid #78909C;
				content: '';
				display: block;
				height: 1px;
				width: 100%;
				background: linear-gradient(90deg, #fff0 0%, #B0BEC5 50%, #fff0 100%);
			}

			& > div {
				position: relative;
				height: 20px;
				line-height: 20px;
				// left: 0px;
				// width: 100%;
				z-index: 5;
			}
		}
	}
>>>>>>> stage3
=======
	padding: 10px 0px 0px 0px;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	height: 100vh;
	// width: 100vw;
	grid-template-areas: "levels" "footer";
	align-items: start;
	justify-content: center;

	//min-height: 100vh;

    .background-container {
    	position: fixed;
    	z-index: -1;
    	& > * {
	    	position: fixed;
	    	// z-index: -1;
	    	left: 0px;
	    	top: 0px;
	    	width: 100vw;
	    	height: 100vh;

	    	background-attachment: fixed;
	    	background-position: center;
	    	background-size: cover;

	    	filter: blur(8px);

	    	&.fader {
	    		animation: fade_bg 2s ease-in-out forwards;

	    		@keyframes fade_bg {
	    			0% { opacity: 1 }
	    			100% { opacity: 0 }
	    		}
	    	}
	    }
    }

	&.two-column {
		grid-template-columns: auto auto;
		grid-template-areas: "levels ranking" "footer footer";
		grid-column-gap: 20px;
		.maps-section {
			justify-self: end !important;
		}
	}

	//common for containers
	.maps-section, .ranking-container {
		background-color: #607D8BC0;
		border: 1px solid #78909C;
		border-radius: 5px;
		box-shadow: 0px 3px 5px #0008;
		padding: 0px 10px;
		padding-bottom: 15px;
	}

	.maps-section {
		grid-area: levels;
		justify-self: center;
		.avaible_maps_list {
			margin: 5px 0px;
			// width: min-content;
			display: inline-grid;
			grid-template-rows: auto;
			align-items: center;
			justify-content: center;

			& > * {
				padding: 0px 0px;
				min-width: 200px;
				// height: 20px;
				line-height: 20px;
				display: inline-table;
				cursor: pointer;
				position: relative;
				&::before {
					content: "";
					display: block;
					position: absolute;
					left: 0px;
					right: 0px;
					width: 100%;
					height: 100%;
					background: linear-gradient(90deg, #fff0 0%, #B0BEC580 50%, #fff0 100%);
					z-index: 4;
					opacity: 0;
					transform: scaleX(0);
					transition: opacity 0.3s ease-in-out, transform 0.5s cubic-bezier(.87, .5,.19,1.44);
				}
				&:hover::before {
					opacity: 1;
					transform: scaleX(1);
				}
				&:not(:last-child)::after {
					//border-bottom: 1px solid #78909C;
					content: '';
					display: block;
					height: 1px;
					width: 100%;
					background: linear-gradient(90deg, #fff0 0%, #B0BEC5 50%, #fff0 100%);
				}

				& > div {
					position: relative;
					height: 20px;
					line-height: 20px;
					// left: 0px;
					// width: 100%;
					z-index: 5;
				}
			}
		}
	}

	.ranking-container {
		grid-area: ranking;
		text-align: center;
		justify-self: left;
		nav {
			label {
				margin-right: 10px;
			}
		}

		.table-container {//scrolling
			max-height: calc(100vh - 200px);
			overflow: auto;

			/* Track */
			&::-webkit-scrollbar-track {
			    background: #90A4AE; 
			    border-radius: 8px;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
			    background: #B0BEC5; 
			    border-radius: 8px;
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
			    background: #CFD8DC; 
			}
		}

		table {
			display: inline-table;
			margin: auto;
			width: 100%;
			text-align: left;

			tr td {
				padding: 5px 0px;
			}
		}
	}

	footer {
		grid-area: footer;
		align-self: end;
		justify-self: right;
		width: 100vw;
		text-align: right;

		

		.links {
			background-color: #0004;
			border-radius: 5px;
			display: inline-block;
		}

		* {
			padding: 2px 4px;
			display: inline-block;
			clear: both;
			color: #B2DFDBc0;

			
			
			font-weight: bold;
			text-shadow: 0px 0px 1px #0008;
			text-decoration: none;
		}

		a {
			&:hover {
				color: #B2DFDB;
			}
			&:visited {
				color: #D1C4E9;
			}
		}
	}
>>>>>>> origin/stage3
}