$solid_colors: (
	(red, #e57373),
	(green, #8BC34A)
	//crate: #8D6E63
);

$textures: (
	crate: (
		'crate_texture',
		"./../img/textures/crate.jpg"
	),
	exit: (
		'exit_texture',
		"./../img/textures/exit.png"
	),
	lava: (
		'lava_texture',
		"./../img/textures/lava.jpg"
	),
	grass: (
		'grass_texture',
		"./../img/textures/grass.png"
	)
);

svg.game-svg {
	shape-rendering: auto;

	.cartoon-style {
		stroke: #000;
		stroke-width: 2px;
		stroke-opacity: 0.61;
	}

	.flat-shadows {
		filter: url(#flat-shadow);
	}

	image.nearest {
		image-rendering: pixelated;
	}

	& > * {
		pointer-events: none;
	}

	/** predefined objects classes (correlated with themes object in predefined_assets.js) */
	circle, rect, path {
		//default values
		fill: #fff;

		@each $name, $color in $solid_colors {
			&.#{$name} {
				fill: $color;
			}
		}

		@each $name, $data in $textures {
			&.#{$name} {
				fill: url(##{ nth($data, 1) });
			}
		}

		&.player {
			fill: url('#player_texture');
		}
	}

	&.selected {
		stroke: #ef5350;
		stroke-opacity: 1;
		stroke-width: 4px;
		stroke-linecap: round;
		stroke-dasharray: 10;

		animation: stroke-rotate 2s linear infinite both;

		@keyframes stroke-rotate {
			0% {
				stroke-dashoffset: 0;
			}
			100% {
				stroke-dashoffset: 100;
			}
		}
	}
}

.asset_preview {
	& > * {
		box-sizing: border-box;
		border: 1px solid #000a;
	}

	@each $name, $color in $solid_colors {
		.#{$name} {
			background-color: $color;
		}
	}

	@each $name, $data in $textures {
		.#{$name} {
			background-image: url(#{ nth($data, 2) });
			background-size: contain;
		}
	}
}
