svg.game-svg {
	shape-rendering: auto;

	.cartoon-style {
		stroke: #000;
		stroke-width: 2px;
		stroke-opacity: 0.5;
	}

	.flat-shadows {
		filter: url(#flat-shadow);
	}

	image.nearest {
		image-rendering: pixelated;
	}

	& > * {
		pointer-events: none;
	}

	/** predefined objects classes (correlated with themes object in predefined_assets.js) */
	circle, rect, path {
		//default values
		fill: #fff;

		&.red {
			fill: #e57373;
		}
		&.green {
			fill: #8BC34A;
		}
		&.crate {
			fill: #8D6E63;//TODO - fill with texture
		}

		&.selected {
			stroke: #ef5350;
			stroke-opacity: 1;
			stroke-width: 4px;
			stroke-linecap: round;
			stroke-dasharray: 10;

			animation: stroke-rotate 2s linear infinite both;

			@keyframes stroke-rotate {
				0% {
					stroke-dashoffset: 0;
				}
				100% {
					stroke-dashoffset: 100;
				}
			}
		}
	}
}

.asset_preview {//TODO - use scss power to keep color values in one place
	& > * {
		box-sizing: border-box;
		border: 1px solid #000a;
	}

	.red {
		background-color: #e57373;
	}
	.green {
		background-color: #8BC34A;
	}
	.crate {
		background-color: #8D6E63;
	}
}