$sizeW: 30px;
$sizeH: 22px;
$barH: 13px;

.switcher {
	width: $sizeW + $sizeH;
	height: $sizeH;
	cursor: pointer;

	position: relative;

	&::before, &::after {
		display: inline-block;
		content: " ";
		position: absolute;
	}

	&::before {
		left: 0px;
		right: 0px;
		top: ($sizeH - $barH) / 2;
		margin: auto;
		width: $sizeW;
		height: $barH;
		background-color: #bdbdbd;
		border-radius: $barH;
		transition: background-color 0.3s ease;
	}

	&::after {
		background: #fff;
		// border: solid 2px #ddd;
		width: $sizeH;
		height: $sizeH;
		left: 0px;
		border-radius: $sizeH;
		transition: background-color 0.3s ease, transform 0.3s cubic-bezier(.36,.07,.19,.97);
		box-shadow: 0 1px 4px #0008;
	}

	&.on::before {
		background-color: #A5D6A7;
	}

	&.on::after {
		transform: translateX($sizeW);
		background-color: #4CAF50;
	}
}